---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro';
import Socials from '../components/Socials.astro';
import Me from '../components/Me.astro';
import Intro from '../components/Intro.astro';
import Logo from '../components/Logo.astro';
import About from '../components/About.astro';
import Stack from '../components/Stack.astro';
import More from '../components/More.astro';
import Resume from '../components/Resume.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="majo portfolio." description="Maxwell John Arzadon is an aspiring UI/UX designer and front-end developer with a passion for creativity and learning. Explore the portfolio to see his work and achievements.">
	<main class="container mx-auto">
		<Header />
		<div>
			<div class="flex md:flex-nowrap mt-40 sm:mt-20 lg:mt-50 custom-md:mb-96 mb-40 lg:mx-20 mx-5">
                <h1 class="lg:text-9xl md:text-8xl sm:text-7xl text-4xl font-black">
                    maximizing design potential with <span class="text-new-blue underline">max.</span>
                </h1>
				<Logo />
            </div>
		</div>
		<div class="container lg:px-24 mx-auto grid grid-cols-4 md:grid-cols-8 xl:grid-cols-12 grid-rows-8 md:grid-rows-5 xl:grid-rows-3 gap-4 md:gap-6 xl:gap-6 p-4 min-h-[140rem] sm:min-h-[100rem] md:min-h-[70rem] lg:min-h-[60rem] xl:min-h-[50rem]">
			<div class="reveal card col-span-4 row-span-1 md:row-span-2">
				<Intro />
			</div>
			<div class="reveal card-no-border col-span-4 row-span-1">
				<Me />
			</div>
			<div class="reveal card col-span-4 row-span-1">
				<About />
			</div>
			<div class="reveal card col-span-4 row-span-1">
				<Stack />
			</div>
			<div class="reveal card-no-border col-span-4 row-span-2">
				<More />
			</div>
			<div class="reveal card-no-border col-span-4 row-span-1">
				<Resume />
			</div>
			<div class="reveal card col-span-4 md:col-span-8 xl:col-span-4 row-span-1">
				<Socials />
			</div>
		</div>
		<div class="reveal">
			<Projects />
		</div>
		<Footer />
	</main>
	<script type="module" src="/public/scripts/scrollreveal.js"></script>
</Layout>

<style>
/* Base card styles */
	.card {
		@apply z-10 relative border border-transparent rounded-2xl overflow-hidden transition-transform;
	}

	/* Card background */
	.card::after {
		@apply absolute inset-0 z-0 bg-cover;
	}

	/* Hover effect */
	.card:hover {
		@apply border-new-blue;
	}

	/* Adding ring effect */
	.card {
		@apply ring-2 ring-offset-0 ring-black ring-offset-neutral-100 transition;
	}

	.card:hover {
		@apply ring-offset-2 lg:ring-offset-4;
	}

	.card-no-border {
		@apply z-10 relative rounded-2xl overflow-hidden transition-transform;
	}
</style>

