<footer class="py-5 mx-5 lg:mx-20 border-t border-black flex justify-between items-center">
    <span class="font-semibold">
        © 2024 Maxwell John Arzadon. All Rights Reserved.
    </span>
    <img class="w-9" src="img/logo_1.png" alt="majo logo">
</footer>