<header class="flex items-center justify-between border-b border-black py-5 mx-5 lg:mx-20">
    <div>
        <img class="w-14" src="/img/logo_1.png" alt="majo logo">
    </div>
    <div></div>
        <span class="font-black text-2xl">
            ma<span class="text-new-blue">jo</span>
        </span>
    </div>
</header>