<div class="flex items-center justify-end m-2 w-full h-full">
    <img
        src="/img/M.gif"
        alt="Description of GIF"
        class="object-cover w-20 h-full custom-md:w-72 custom-lg:w-auto max-w-xs md:max-w-md lg:max-w-lg transition-transform duration-300 hover:rotate-180"
    />
</div>
