<div class="relative w-full h-full overflow-hidden group">
    <img 
      src="/public/img/sea.png" 
      alt="Picture of the sea" 
      class="absolute inset-0 w-full h-full object-cover object-center transition-transform duration-700 group-hover:blur-lg"
    >
    <div class="absolute font-semibold inset-0 flex items-center justify-center text-white text-lg opacity-0 transition-opacity duration-300 group-hover:opacity-100 group-hover:scale-105">
      Art Portfolio
      <a href="public/pdf/ARZADON, MAXWELL JOHN_Portfolio.pdf" target="_blank">
        <img src="/public/svg/arrow.svg" alt="Icon" class="ml-2 w-5 h-5" />
      </a>
    </div>
</div>
